# General IDE + build files
/.gradle/
/.idea/
/run/
/*.iml
/build/

# Per-subproject build folders
/*/*/build/
/*/*/out/
/*/build/
/*/out/

# Project-local gradle.properties, never commit credentials here
gradle.properties
